@tailwind base;
@tailwind components;
@tailwind utilities;

.circle-wrapper {
  position: relative;
}

.circle-wrapper::before,
.circle-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #10b981;
  transform: translate(-50%, -50%) scale(1);
  animation: expandCircle 2s infinite; 
  opacity: 0.5;
}

.circle-wrapper::after {
  border: 1px solid #10b981; 
  animation-delay: .5s; 
}

@keyframes expandCircle {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(3); 
    opacity: 0;
  }
}


.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #00ed64;
  border-radius: 50%;
  padding: 15px;
  color: white; 
}

body {
  margin: 0;
  padding: 0;
  background-color: #001e2b;
  overflow-x: hidden;
  overflow-y: hidden;
}


